.carousel-component .carousel-indicators li {
    background-color: #ec4090;
    width: 5px;
    height: 5px;
    border-radius: 100%;
}

.carousel-component .carousel-caption h3 {
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    background-color: rgba(236, 64, 144, 0.3);

    animation-name: example;
    animation-duration: 2s;
}
@keyframes example {
    0% {
        transform: translateY(-1000%);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 800px) {
    .carousel-component .carousel-caption h3 {
        font-size: 1.5rem;
    }
}

.carousel-component .carousel-caption h3 {
    transform: translateX(0);
}
